{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Wende{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-6 col-lg-offset-3">
        <h1 class="text-center">WCQA</h1>
        <hr>
        <p>
            WCQA, Wende(问得) Chinese Question Answering, is a small and simple
            factoid chinese question answering system written in Python. You ask
            a chinese natural language question and Wende will try to give a
            certain answer of the question. This is still a work in progress,
            currently the system can only judge the type of the question that
            the user ask, which means, only the question classification module
            has been implemented.
        </p>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <div class="input-group">
                <input type="text" name="question" class="form-control"
                       placeholder="Ask a question with chinese.">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}