[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-wtf = "*"
Flask-Bootstrap = "*"
scikit-learn = "*"
pyltp = "==0.1.9.1"
jieba = "*"
gensim = "==3.0.0"
matplotlib = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.6"
